# rust
src/
target/

# Rust/Julia
**.lock
**.toml

# docs
README_ja.html
README_en.html

# testcase
in/
out/
seeds.txt

# exec file
main

# misc log
err/
log.txt

# visualizer html
vis.html

# .DS_Store
.DS_Store